* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation {
    position: absolute;
    top: 2rem;
    left: 2rem;
    bottom: 20px;
    width: 300px;
    text-align: left;
    padding-left: 5rem;
    padding-top: 10rem;
    margin-right: 1rem;
    
}

.navigation ul li a {
    position: relative;
    text-decoration: none;
    font-size: 16px;
}

.li-item {
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: filter 300ms;
}

.li-item:hover {
    filter: brightness(1.2);
    cursor: pointer;
}