@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.App {
  text-align: center;
}

p, li, ul {
  font-family: 'Heebo';
  font-weight: 500;
}

h1, h2, h3 {
  font-family: 'Questrial'
}

h3 {
  font-size: 0.5rem;
}